.projects{
    width: 100%;
}

.carousel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
  }

.projects-header{
    margin: 2em auto;
}

.carousel-caption{
    background-color: black;
}

.card-project{
    width: 400px;
    height: 550px;
    overflow-y: auto;
    text-align: left;
    margin: 4em auto;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-text-project{
    height: 75px;
    overflow-y: auto;
}